node-red-sample-flow.json
[{"id":"2dc03521.c103da","type":"json","z":"2f3c4ae2.1d8c16","name":"","x":291.59939193725586,"y":190.27273178100586,"wires":[["23faf564.25371a","ee903748.f40668"]]},{"id":"23faf564.25371a","type":"debug","z":"2f3c4ae2.1d8c16","name":"JSON Payload","active":true,"console":"false","complete":"payload","x":579.9999885559082,"y":119.72727394104004,"wires":[]},{"id":"a026f9d2.9151c8","type":"inject","z":"2f3c4ae2.1d8c16","name":"Inject WebApp Validation","topic":"challenge","payload":"{\"challenge\":1, \"validate\": \"true\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":163.99999618530273,"y":286.27273178100586,"wires":[["2dc03521.c103da"]]},{"id":"499bfdd9.b61e24","type":"rpi-gpio out","z":"2f3c4ae2.1d8c16","name":"Pi LED","pin":"11","set":true,"level":"0","out":"out","x":613.4999961853027,"y":243.27273178100586,"wires":[]},{"id":"ee903748.f40668","type":"function","z":"2f3c4ae2.1d8c16","name":"Logic","func":"pi_output = {};\npi_output.payload = ((msg.payload.challenge==1) && \n                     (msg.payload.validate==\"true\")) ? 1 : 0;\nreturn pi_output;","outputs":"1","noerr":0,"x":421.49999618530273,"y":248.27273178100586,"wires":[["499bfdd9.b61e24","d24b21a7.036b"]]},{"id":"d24b21a7.036b","type":"debug","z":"2f3c4ae2.1d8c16","name":"LED Output Payload","active":true,"console":"false","complete":"payload","x":604.4999961853027,"y":313.27273178100586,"wires":[]}]
